config.py
source-files-backup/
graph-files-backup/
graph-files-main-backup/
source-files-main-backup/
Comparison-Open-Graph-Dataset/Build_Graph/dataset/
*.ipynb
*.pt
source-files/AllGeneDiseaseLinkedData40.csv
source-files/BIOGRID-ORGANISM-Homo_sapiens-4.4.217.tab.txt